<%- include('../partials/header.ejs')%>
<body>
    <form action="/item/add" method="post">
        Item Name:<br>
        <input type="text" name="itemName">
        <br>
        Item Price:<br>
        <input type="text" name="itemPrice">
        <br>
        Tenor:<br>
        <input type="text" name="tenor">
        <br>
        Due Date:<br>
        <input type="text" name="dueDate">
        <br>
        Bill Price:<br>
        <input type="text" >
        <br>
        Remaining Debt:<br>
        <input type="text" >
        <br><br>
        <input type="submit" value="Submit">
      </form> 
</body>
</html>