<%- include('../partials/header.ejs')%>
<body>
    <form action="/customer/register" method="post">
        First name:<br>
        <input type="text" name="firstName">
        <br>
        Last name:<br>
        <input type="text" name="lastName">
        <br>
        Email:<br>
        <input type="text" name="email">
        <br>
        Phone number:<br>
        <input type="text" name="phoneNumber">
        <br>
        Username:<br>
        <input type="text" name="username">
        <br>
        Password:<br>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Submit">
      </form> 
</body>
</html>